body {
  text-align: center;
  font-family: "Inter", monospace;
  background-color: white;
}

div.nav-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 95%;
  margin: auto;
  height: 80px;
  border-bottom: 1px solid #e3e3e3;
}

p.title {
  color: #053652;
  font-size: 1.15em;
  font-weight: 600;
}

div.links {
  color: #bebebe;
  font-size: 0.9em;
  display: flex;
  gap: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}
